<div class="container">
  
  <div class="row ">
    <div class="col-md-12">
      <app-user-form (getName)='findUser($event)'></app-user-form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-img-top"><img src="{{users.avatar_url}}"></div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="table table-striped">
        <table class="table table-striped table-light">
          <tbody>
            <h2>{{users.name}}</h2>
          <tr>
            <th scope="row">Github Username:</th>
              <td><a href="{{users.html_url}}" target="_blank">{{users.login}}</a></td>
          </tr>
          <tr>
            <th scope="row">About:</th>
            <td>{{users.bio}}</td>
          </tr>
          <tr>
            <th scope="row">Repositories:</th>
            <td>{{users.public_repos }}</td>
          </tr>
          <tr>
            <th scope="row">Date created:</th>
            <td>{{users.created_at | date}}</td>
          </tr>
          <tr>
            <th scope="row">Followers:</th>
            <td>{{users.followers}}</td>
          </tr>
          <tr>
            <th scope="row">Following</th>
            <td>{{users.following}}</td>
          </tr>
          </tbody>
        </table>
      </div><br>
      <button class='btn btn-success form-control'(click)='goToUrl(users.name)'>Click to view the user's repositories</button>
    </div>
  </div>
  <hr>
</div>
